<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}

<div class="container">
    {% include 'error.html' %}
    <h1>Next Events:</h1>
    Select any event and respective options in order to execute an event specifc action
    <form action="/events" method="POST">
        <div class="form-group">
            {% for event in event_choices %}
            <input class="form-check-input" type="radio" id="event_id" name="event_id" value="{{event.id}}">
            <label class="form-check-label" for="event_id">{{event.label}}</label></br>
            {% endfor %}
        </div>

        <div class="form-group">
            {% for service_group in service_groups.values() %}

            <input type="checkbox" class="form-check-input" id="service_groups {{service_group.id}}"
                   name="service_group {{service_group.id}}"
                   checked>
            <label class="form-check-label" for="service_groups {{service_group.id}}">{{service_group.name}}</label>

            {% endfor %}
        </div>

        <input type="submit" name="submit_docx" class="btn btn-primary" value="DOCx Document Download"> </br>
        <input type="submit" name="submit_chat_update" class="btn btn-secondary" value="Update Communi group">
        <input type="submit" name="submit_chat_delete" class="btn btn-secondary" value="Delete Communi group"> </br>
    </form>
</div>
</body>
</html>
