<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if error %}
        <div style="color:#ff0000"> {{error}}</div>
    {% endif %}
    <form action="/login" method="POST">
		<label for="ct_domain">Domain:</label>
		<input type="text" id="ct_domain" name="ct_domain"
			   {% if ct_domain %}value="{{ct_domain}}" {% endif %}
			   required><br>

		<label for="ct_user">User:</label>
		<input type="text" id="ct_user" name="ct_user" required><br>

		<label for="ct_password">Password:</label>
		<input type="password" id="ct_password" name="ct_password" required><br>

		<input type="submit" value="Login">
	</form>
</body>
</html>
