<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}

<div class="container">
    <h1>Login into ChurchTools</h1>

    {% if user %}
    <h2>Welcome {{ user.firstName }} {{ user.lastName }}</h2>
    You are authorized on {{ct_domain}} </br>
    Please be aware that some of the functionality listed below might require special permissions!</br>
    </br></br>
    ReSubmit to change the authenticated user or server
    {% endif %}
    <form action="/login_churchtools" method="POST">
        <div class="form-group">
            <label for="ct_domain">Domain:</label>
            <input type="text" id="ct_domain" class="form-control" name="ct_domain"
                   {% if ct_domain %}value="{{ct_domain}}" {% endif %}
                   required><br>
        </div>
        <div class="form-group">
            <label for="ct_user">User:</label>
            <input type="text" id="ct_user" class="form-control" name="ct_user" required><br>
        </div>
        <div class="form-group">
            <label for="ct_password">Password:</label>
            <input type="password" id="ct_password" class="form-control" name="ct_password" required><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
</body>
</html>
