<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}

<div class="container">
    <h1>Login into Communi</h1>

    {% if user %}
    <h2>Welcome {{ user.vorname }} {{ user.nachname }}</h2>
    You are authorized on {{communi_server}} </br>
    Please be aware that some of the functionality listed below might require special permissions!</br>
    </br></br>
    ReSubmit to change the authenticated user or server
    {% endif %}

    <form action="/login_communi" method="POST">
        <div class="form-group">
            <label for="communi_server">Communi Server:</label>
            <input type="text" id="communi_server" class="form-control" name="communi_server"
                   {% if communi_server %}value="{{communi_server}}" {% endif %}
                   required><br>
        </div>
        <div class="form-group">
            <label for="communi_token">Communi Token:</label>
            <input type="text" id="communi_token" class="form-control" name="communi_token" required><br>
        </div>
        <div class="form-group">
            <label for="communi_appid">Communi App-ID:</label>
            <input type="text" id="communi_appid" class="form-control" name="communi_appid" required><br>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
</body>
</html>
