<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}

<div class="container">

    {% if ct_user %}
    <h1>Welcome {{ ct_user.firstName }} {{ ct_user.lastName }}</h1>
    You are authorized as user {{ct_user.id}} on {{ct_domain}} </br>
    Please be aware that some of the functionality listed below might require special permissions!</br>
    {% endif %}


    <h2>Functions</h2>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="./login">New Login</a></li>
        <a class="list-group-item list-group-item-action" href="./events">Events</a></li>

    </div>
</div>
</body>
</html>
