<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">
{% include 'header.html' %}
<body>
{% include 'error.html' %}

<div class="container">

    Please be aware that some of the functionality listed below might require a login!</br>
    Login status is displayed on the respective login pages

    <h2>Functions</h2>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="./login_churchtools">ChurchTools Login</a></li>
        <a class="list-group-item list-group-item-action" href="./login_communi">Communi Login</a></li>
        <a class="list-group-item list-group-item-action" href="./events">Events</a></li>
        <a class="list-group-item list-group-item-action" href="./test">Test page</a></li>
    </div>
</div>
</body>
</html>
